#about-us {
  text-align:center;
  padding:40px;
  background-size:cover;
  height:500px;
}

#romeo {
  text-align:center;
  padding:40px;
  background-size:cover;
  height:650px;
}

#home {
  text-align:center;
  padding:40px;
  background-size:cover;
  height:600px;
}

#about-us .jumbotron {
  padding:0px;
  border-radius:20px;
  background-color:transparent;
  max-width:800px;
  margin:50px auto;
}

#romeo .jumbotron {
  padding:40px;
  border-radius:20px;
  background-color:rgba(255,255,255,0.75);
  max-width:800px;
  margin:50px auto;
}

#home .jumbotron {
  padding:10px;
  border-radius:20px;
  background-color:rgba(255,255,255,0.75);
  max-width:800px;
  margin:50px auto;
  margin-top: 125px;
}

@media (max-width:991px) {
  #about-us {
    padding:20px;
  }
  #romeo {
    padding:20px;
  }
  #home {
    padding:20px;
  }
}

@media (max-width:991px) {
  #about-us .jumbotron {
    padding:20px;
    margin:70px;
  }
  #romeo .jumbotron {
    padding:20px;
    margin:70px;
    font-size:45px;
  }
  #home .jumbotron {
    padding:20px;
    margin:70px;
  }
}

@media (max-width:767px) {
  #about-us .jumbotron {
    margin:25px;
  }
  #romeo .jumbotron {
    margin:25px;
    font-size:35px;
  }
  #home .jumbotron {
    margin:25px;
  }
}

.btn.btn-default {
  border-radius:5px;
  color:white;
  background:blue;
  width:190px;
  height:45px;
  font-size:17px;
}

.site-section {
  text-align:center;
  padding:30px 110px 60px 110px;
  background:lightblue;
  width:100%;
}

.site-section h1 {
  font-weight:normal;
  margin-bottom:30px;
}

.team-boxed {
  padding:70px 0;
}

.navbar {
  margin-bottom:0;
}

#romeo {
  font-size:60px;
}

#romeo-title {
  font-size:50px;
  margin-bottom:15px;
}

@media (max-width:991px) {
  #romeo-h2 {
    font-size:30px;
  }
}

tracker-para {
  font-size:5px;
}

#romeo-cont {
  background-color:white;
}

.icon.ion-clock {
  font-size:60px;
}

.btn.btn-default {
  border-radius:5px;
  color:white;
  background:rgb(62,62,248);
  width:190px;
  height:45px;
  font-size:17px;
}

@media (max-width:991px) {
  #about-us {
    padding:20px;
  }
}

@media (max-width:991px) {
  #about-us .jumbotron {
    padding:20px;
    margin:70px;
  }
}

@media (max-width:767px) {
  #about-us .jumbotron {
    margin:25px;
  }
}

body {
  font-family:Arial, Helvetica, sans;
}

.site-section {
  text-align:center;
  padding:30px 110px 60px 110px;
  width:100%;
  background-color:#d3ecf5;
}

.icons {
  font-size:42px;
}

.icon.ion-scissors {
}

#values .item-value h2 {
  font-weight:normal;
  margin-top:13px;
  margin-bottom:20px;
  font-size:24px;
}

#values {
  background-color:white;
}

#uses .item-value h2 {
  font-weight:normal;
  margin-top:13px;
  margin-bottom:20px;
  font-size:24px;
}

#uses {
  background-color:#d3ecf5;
}

#uses .itme-value {
  margin-top:36px;
}

#values .item-value {
  margin-top:36px;
}

#values .item-value i {
}

#demo2 {
  background-color:rgb(228,228,228);
}

#demo1 {
  background-color:white;
}

#phone {
  background:url(../../assets/img/iphone_pic.png);
  height:initial;
  height:88%;
  width:77%;
}

#app-view1 {
  margin-top:145px;
}

@media (max-width:1199px) {
  #app-view1 {
    margin-top:45px;
  }
}

#app-view2 {
  margin-top:60px;
}

#app-view3 {
  margin-top:60px;
}

#questions {
  font-weight:bold;
  font-size:47px;
}

#questions {
  font-size:35px;
}

#tryproduct {
  font-size:24px;
  font-weight:normal;
}

#comments {
  margin-top:20px;
  margin-bottom:20px;
  padding-left:90px;
  padding-right:90px;
}

@media (max-width:991px) {
  #comments {
    text-align:center;
    padding-top:20px;
  }
}

#contact-btn {
  margin-top:20px;
  margin-bottom:40px;
  padding:15px 50px;
  background-color:rgb(62,62,248);
  color:white;
}

#tracker-btn {
  background-color:rgb(62,62,248);
  color:white;
  padding:15px 50px;
  margin-top:20px;
}

#tracker-btn2 {
  background-color:rgb(62,62,248);
  color:white;
  padding:15px 50px;
  margin-top:65px;
}

#demo-pic-1 {
  margin-top:25px;
}

@media (max-width:991px) {
  #demo-pic-1 {
    width:250px;
  }
}

@media (max-width:767px) {
  #demo-pic-1 {
    margin-left:-40px;
  }
}

#demo-pic-2 {
  height:450px;
  width:500px;
  text-align:center;
  margin-top:35px;
}

#demo-pic-3 {
  height:450px;
  width:500px;
  margin-top:35px;
}

@media (max-width:767px) {
  #demo-pic-3 {
    width:425px;
    margin-left:-125px;
  }
}

@media (max-width:767px) {
  #demo-pic-2 {
    width:425px;
    margin-left:-125px;
  }
}

.testers-para {
  margin-top:15px;
}

.phone-tool {
  font-weight:normal;
  font-size:30px;
  margin-bottom:45px;
}

.fa.fa-linkedin {
  font-size:25px;
  background-color:rgb(0,119,181);
  padding:10px;
  color:white;
}

#phone-screen {
  width:150px;
}

#tracker-para {
  font-size:25px;
}

@media (max-width:991px) {
  #tracker-para {
    font-size:20px;
  }
}

.col-md-7.demo-pic-col {
  text-align:center;
}

#jeff-bio {
  padding-bottom:30px;
}

@media (max-width:1199px) {
  #jeff-bio {
    padding-bottom:30px;
  }
}

@media (max-width:991px) {
  #jeff-bio {
    padding-bottom:30px;
  }
}

#jeff-linkedIn {
  margin-top:85px;
}

@media (max-width:1199px) {
  #jeff-linkedIn {
    margin-top:105px;
  }
}

@media (max-width:991px) {
  #jeff-linkedIn {
    margin-top:85px;
  }
}

#contact-us {
  height:10%;
  background-color:#d3ecf5;
}

@media (max-width:991px) {
  #contact-btn {
    margin-top:20px !important;
  }
}

@media (max-width:991px) {
  #contact-con {
    text-align:center;
  }
}

@media (max-width:767px) {
  #contact-con {
    margin-left:0;
  }
}

#mission p {
  max-width:800px;
  font-size:20px;
  margin:0 auto;
}

.site-section h1 {
  font-weight:normal;
  margin-bottom:30px;
}

.team-boxed {
  padding:70px 0 40px 0;
}

.team-boxed .people {
}

.navbar {
  margin-bottom:0;
}

#use-form {
  background-color: white;
  padding:30px 200px 60px 200px;
}

#submission_success {
  background-color: white;
  padding:30px 200px 60px 200px;
}

#other-comments {
  min-height: 200px;
}


#form-control {
  border-radius: 0;
  background-clip: padding-box;
  box-shadow: transparent;
  width: 100%;
  font-family: Arial, Helvetica, sans;
  display: block;
  border: 3px solid transparent;
  padding: 15px 20px;
  color: #454d52;
  background: #fff;
  letter-spacing: 1px;
}


