<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Page</title>
    <link rel="stylesheet" href="/static/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cookie">
    <link rel="stylesheet" href="static/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="static/assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="static/assets/css/iphone_demo.css">
    <link rel="stylesheet" href="static/assets/css/Pretty-Footer.css">
    <link rel="stylesheet" href="static/assets/css/styles.css">
    <link rel="stylesheet" href="static/assets/css/Team-Boxed-1.css">
    <link rel="stylesheet" href="static/assets/css/Team-Boxed.css">
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header"><a class="navbar-brand navbar-link" href="/"><strong>EDUFICIENCY</strong> </a>
                <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
            </div>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav navbar-right">
                    <li role="presentation"><a href="romeo">Products</a></li>
                    <li class="active" role="presentation"><a href="about_us">About Us</a></li>
                    <li role="presentation"><a href="blog">Blog </a></li>
                    <li role="presentation"><a href="contact">Contact </a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div id="about-us" style="background-image:url(&quot;/static/assets/img/workplace.jpg&quot;);">
        <div class="jumbotron">
            <h1>Meet Our Team</h1>
            <p>We’re on a mission improve education by making the technology teachers use more efficient. </p>
            <p></p>
            <button class="btn btn-default" type="button">Learn More</button>
        </div>
    </div>
    <div class="team-boxed" style="background-color:rgb(228,228,228);color:rgb(3,3,3);">
        <div class="container">
            <div class="intro"></div>
            <div class="row people">
                <div class="col-md-4 col-sm-6 item">
                    <div class="box"><img class="img-circle" src="static/assets/img/Maria Mendiburo Headshot.png">
                        <h3 class="name">Maria Mendiburo</h3>
                        <p class="title"> CEO &amp; Founder</p>
                        <p class="description">Maria started her career in education as a mathematics teacher in Hawaii and went on to complete a MA and PhD in education at Stanford and Vanderbilt Universities. After completing a postdoc focused on edtech development and working
                            with several edtech startups, she decided to spend another year teaching mathematics to reconnect with the day-to-day realities of classroom teaching. Her decision to found EduFiciency was inspired by that experience since
                            she realized that trying to operate a computer system while simultaneously keeping an eye on 32 eighth graders is a lot like texting while driving. </p>
                        <a href="https://www.linkedin.com/in/mariaangelamendiburo/"><i class="fa fa-linkedin"></i></a>
                   </div>
                </div>
                <div class="col-md-4 col-sm-6 item">
                    <div id="jeff-bio" class="box"><img class="img-circle" src="static/assets/img/Jeff Meyers Headshot.png">
                        <h3 class="name">Jeff M</h3>
                        <p class="title"> CIO &amp; founder</p>
                        <p class="description">Jeff has over 25 successful years of experience in the corporate world software technology filling every role from developer to executive leadership. &nbsp;He is excited that working with EduFiciency has enabled him to get back
                            to his technologist roots and immerse himself in a company he can help shape from the ground up. &nbsp;He is a graduate of Purdue University and frequently makes the rest of the team listen to old school hip hop mixes during
                            long hacking sessions. &nbsp;</p>
                        <a href="https://www.linkedin.com/in/jeff-meyers-33662a1/"><i class="fa fa-linkedin"></i></a>
                   </div>
                </div>
                <div class="col-md-4 col-sm-6 item">
                    <div class="box"><img class="img-circle" src="/static/assets/img/Alex face.png">
                        <h3 class="name">Alex Wolfe</h3>
                        <p class="title"> CTO &amp; founder</p>
                        <p class="description">Alex is smart AF.  He knows tech-stuff big-time.  He can also play the Cello.  And kinda play the guitar. </p><i class="fa fa-linkedin"></i>
                    </div>
                </div>
            </div>
            <div class="row people">
                <div class="col-md-4 col-sm-6 item">
                    <div class="box"><img class="img-circle" src="/static/emily_flagg.jpeg">
                        <h3 class="name">Emily Flagg</h3>
                        <p class="title">software engineer</p>
                        <p class="description">A Washington, DC native, Emily moved to Beijing where she ran an English teaching business for four years. She then moved to Oakland and fell in love with computer programming. She's excited to combine her background in education with her software developement skills and join the EduFiciency team!</p>
                        <a href="https://www.linkedin.com/in/emilyflagg/"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 item">
                    <div class="box"><img class="img-circle" src="/static/assets/img/Katia Wu Twitter Pic.png">
                        <h3 class="name">Katia Wu</h3>
                        <p class="title">Software Engineer</p>
                        <p class="description">Katia does tech.  Katia meditates mindfully.  Karia meditates mindfully while coding.  A Hackbright Academy grad and a technology prodoct management expert.</p>
                        <a href="https://www.linkedin.com/in/katiayx/"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 item">
                    <div class="box"><img class="img-circle" src="/static/assets/img/Allison Pastewka Twitter Pic.png">
                        <h3 class="name">Allison Pastewka</h3>
                        <p class="title">Software Engineer</p>
                        <p class="description">Allison loves tech.  A recent Hackbright Academy grad, developing web applications furiously.</p>
                        <a href="https://www.linkedin.com/in/allison-pastewka/"><i class="fa fa-linkedin"></i></a>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container site-section">
        <h1>Our Story</h1>
        <p>We are looking to improve the quality of education by making technology that provides all the valuable data needed to manage schools and increase education quality while enabling teachers to spend more quality time teaching students instead of wrestling technology.</p>
    </div>
    <footer>
        <div class="container">
            <div class="row">
               <div id="contact-us">
                 <div class="container">
                     <div class="col-md-4" id="comments">
                         <h5 id="questions">Questions? Comments?</h5>
                         <h5 id="tryproduct">Do you want to try our product?</h5>
                         <button class="btn btn-primary btn-lg" type="button" id="contact-btn">Contact Us</button>
                     </div>
                     <div class="col-md-4" id="contact-con">
                     </div>
                 </div>
               </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 footer-navigation">
                    <h3><a href="#">EDUFICIENCY </a></h3>
                    <p class="links"><a href="#">Product </a><strong> · </strong><a href="#">Blog</a><strong> · </strong><a href="#">About</a><strong> · </strong><a href="#">Contact</a></p>
                    <p class="company-name">Eduficiency © 2017 </p>
                </div>
                <div class="col-md-4 col-sm-6 footer-contacts">
                    <div><span class="fa fa-map-marker footer-contacts-icon"> </span>
                        <p> Oakland, CA</p>
                    </div>
                    <div><i class="fa fa-phone footer-contacts-icon"></i>
                        <p class="footer-center-info email text-left"> +1 555 123456</p>
                    </div>
                    <div><i class="fa fa-envelope footer-contacts-icon"></i>
                        <p> <a href="#" target="_blank">support@company.com</a></p>
                    </div>
                </div>
                <div class="clearfix visible-sm-block"></div>
                <div class="col-md-4 footer-about">
                    <h4>About the company</h4>
                    <p> Here we will tell you more about our company.  Cool stuff that will make you excited about what we are bringing to education in our world today but jealous that you aren't a part of our team.
                    </p>
                    <div class="social-links social-icons"><a href="https://www.facebook.com"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-linkedin"></i></a><a href="#"><i class="fa fa-github"></i></a></div>
                </div>
            </div>
        </div>
    </footer>
    <script src="static/assets/js/jquery.min.js"></script>
    <script src="static/assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>
