<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Page</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cookie">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="assets/css/iphone_demo.css">
    <link rel="stylesheet" href="assets/css/Pretty-Footer.css">
    <link rel="stylesheet" href="assets/css/styles.css">
    <link rel="stylesheet" href="assets/css/Team-Boxed-1.css">
    <link rel="stylesheet" href="assets/css/Team-Boxed.css">
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header"><a class="navbar-brand navbar-link" href="#"><strong>EDUFICIENCY</strong> </a>
                <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
            </div>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav navbar-right">
                    <li role="presentation"><a href="#">How it Works</a></li>
                    <li class="active" role="presentation"><a href="#">Team </a></li>
                    <li role="presentation"><a href="#">Blog </a></li>
                    <li role="presentation"><a href="#">Contact </a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="promo" style="background-image:url(&quot;assets/img/Optimized-workplace-1245776_1920.jpg&quot;);">
        <div class="jumbotron">
            <h1>Meet Our Team</h1>
            <p>We’re on a mission improve education by making the technology teachers use more efficient. </p>
            <p></p>
            <button class="btn btn-default" type="button">Learn More</button>
        </div>
    </div>
    <div class="team-boxed" style="background-color:rgb(228,228,228);color:rgb(3,3,3);">
        <div class="container">
            <div class="intro"></div>
            <div class="row people">
                <div class="col-md-4 col-sm-6 item">
                    <div class="box"><img class="img-circle" src="assets/img/Screen Shot 2017-04-14 at 12.59.33 AM.png">
                        <h3 class="name">Maria Mendiburo</h3>
                        <p class="title"> CEO &amp; Founder</p>
                        <p class="description">Maria started her career in education as a mathematics teacher in Hawaii and went on to complete a MA and PhD in education at Stanford and Vanderbilt Universities. After completing a postdoc focused on edtech development and working
                            with several edtech startups, she decided to spend another year teaching mathematics to reconnect with the day-to-day realities of classroom teaching. Her decision to found EduFiciency was inspired by that experience since
                            she realized that trying to operate a computer system while simultaneously keeping an eye on 32 eighth graders is a lot like texting while driving. </p><i class="fa fa-linkedin"></i></div>
                </div>
                <div class="col-md-4 col-sm-6 item">
                    <div id="jeff-bio" class="box"><img class="img-circle" src="assets/img/Screen Shot 2017-04-14 at 1.02.44 AM.png">
                        <h3 class="name">Jeff M</h3>
                        <p class="title"> CIO &amp; founder</p>
                        <p class="description">eff has over 25 successful years of experience in the corporate world software technology filling every role from developer to executive leadership. &nbsp;He is excited that working with EduFiciency has enabled him to get back
                            to his technologist roots and immerse himself in a company he can help shape from the ground up. &nbsp;He is a graduate of Purdue University and frequently makes the rest of the team listen to old school hip hop mixes during
                            long hacking sessions. &nbsp; </p><i class="fa fa-linkedin" id="jeff-linkedIn"></i></div>
                </div>
                <div class="col-md-4 col-sm-6 item">
                    <div class="box"><img class="img-circle" src="assets/img/3.jpg">
                        <h3 class="name">Alex Wolfe</h3>
                        <p class="title"> CTO &amp; founder</p>
                        <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, et interdum justo suscipit id. Etiam dictum feugiat tellus, a semper massa. </p><i class="fa fa-linkedin"></i></div>
                </div>
            </div>
            <div class="row people">
                <div class="col-md-4 col-sm-6 item">
                    <div class="box"><img class="img-circle" src="assets/img/1.jpg">
                        <h3 class="name">Emily Flagg</h3>
                        <p class="title">software engineer</p>
                        <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, et interdum justo suscipit id. Etiam dictum feugiat tellus, a semper massa. </p><i class="fa fa-linkedin"></i></div>
                </div>
                <div class="col-md-4 col-sm-6 item">
                    <div class="box"><img class="img-circle" src="assets/img/2.jpg">
                        <h3 class="name">Katia Wu</h3>
                        <p class="title">Software Engineer</p>
                        <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, et interdum justo suscipit id. Etiam dictum feugiat tellus, a semper massa. </p><i class="fa fa-linkedin"></i></div>
                </div>
                <div class="col-md-4 col-sm-6 item">
                    <div class="box"><img class="img-circle" src="assets/img/3.jpg">
                        <h3 class="name">Allison Pastewka</h3>
                        <p class="title">Software Engineer</p>
                        <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, et interdum justo suscipit id. Etiam dictum feugiat tellus, a semper massa. </p><i class="fa fa-linkedin"></i></div>
                </div>
            </div>
        </div>
    </div>
    <div class="container site-section">
        <h1>Our Story</h1>
        <p>Schoolrunner's mission is to become the student data system of choice by providing schools with a single platform that meets all their data needs with exceptional customer service to make sure it actually solves&nbsp;problems. </p>
    </div>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6 footer-navigation">
                    <h3><a href="#">EDUFICIENCY </a></h3>
                    <p class="links"><a href="#">Product </a><strong> · </strong><a href="#">Blog</a><strong> · </strong><a href="#">About</a><strong> · </strong><a href="#">Contact</a></p>
                    <p class="company-name">Eduficiency © 2017 </p>
                </div>
                <div class="col-md-4 col-sm-6 footer-contacts">
                    <div><span class="fa fa-map-marker footer-contacts-icon"> </span>
                        <p> Oakland, CA</p>
                    </div>
                    <div><i class="fa fa-phone footer-contacts-icon"></i>
                        <p class="footer-center-info email text-left"> +1 555 123456</p>
                    </div>
                    <div><i class="fa fa-envelope footer-contacts-icon"></i>
                        <p> <a href="#" target="_blank">support@company.com</a></p>
                    </div>
                </div>
                <div class="clearfix visible-sm-block"></div>
                <div class="col-md-4 footer-about">
                    <h4>About the company</h4>
                    <p> Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus vehicula sit amet.
                    </p>
                    <div class="social-links social-icons"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-linkedin"></i></a><a href="#"><i class="fa fa-github"></i></a></div>
                </div>
            </div>
        </div>
    </footer>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>