<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Page</title>
    <link rel="stylesheet" href="/static/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,700">
    <link rel="stylesheet" href="/static/assets/css/styles.css">
    <link rel="stylesheet" href="/static/assets/css/Team-Boxed.css">
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header"><a class="navbar-brand navbar-link" href="#"><strong>EDUFICIENCY</strong> </a>
                <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
            </div>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav navbar-right">
                    <li role="presentation"><a href="#">How iIt Works</a></li>
                    <li class="active" role="presentation"><a href="#">Team </a></li>
                    <li role="presentation"><a href="#">Blog </a></li>
                    <li role="presentation"><a href="#">Contact </a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div id="promo" style="background-image:url(&quot;/static/assets/img/workplace.jpg&quot;);">
        <div class="jumbotron">
            <h1>Meet the Team</h1>
            <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
            <p></p>
            <button class="btn btn-default" type="button">Learn More</button>
        </div>
    </div>
    <div class="team-boxed" style="background-color:rgb(228,228,228);color:rgb(3,3,3);">
        <div class="container">
            <div class="intro"></div>
            <div class="row people">
                <div class="col-md-4 col-sm-6 item">
                    <div class="box"><img class="img-circle" src="/static/assets/img/1.jpg">
                        <h3 class="name">Maria Mendiburo</h3>
                        <p class="title"> CEO &amp; Founder</p>
                        <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, et interdum justo suscipit id. Etiam dictum feugiat tellus, a semper massa. </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 item">
                    <div class="box"><img class="img-circle" src="/static/assets/img/2.jpg">
                        <h3 class="name">Jeff M</h3>
                        <p class="title"> CIO &amp; founder</p>
                        <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, et interdum justo suscipit id. Etiam dictum feugiat tellus, a semper massa. </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 item">
                    <div class="box"><img class="img-circle" src="/static/assets/img/3.jpg">
                        <h3 class="name">Alex Wolfe</h3>
                        <p class="title"> CTO &amp; founder</p>
                        <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, et interdum justo suscipit id. Etiam dictum feugiat tellus, a semper massa. </p>
                    </div>
                </div>
            </div>
            <div class="row people">
                <div class="col-md-4 col-sm-6 item">
                    <div class="box"><img class="img-circle" src="/static/emily_flagg.jpeg">
                        <h3 class="name">Emily Flagg</h3>
                        <p class="title">software engineer</p>
                        <p class="description">A Washington, DC native, Emily moved to Beijing where she ran an English teaching business for four years. She then moved to Oakland and fell in love with computer programming. She's excited to combine her background in education with her software developement skills and join the EduFiciency team!</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 item">
                    <div class="box"><img class="img-circle" src="/static/assets/img/2.jpg">
                        <h3 class="name">Katia Wu</h3>
                        <p class="title">Software Engineer</p>
                        <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, et interdum justo suscipit id. Etiam dictum feugiat tellus, a semper massa. </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 item">
                    <div class="box"><img class="img-circle" src="/static/assets/img/3.jpg">
                        <h3 class="name">Allison Pastewka</h3>
                        <p class="title">Software Engineer</p>
                        <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, et interdum justo suscipit id. Etiam dictum feugiat tellus, a semper massa. </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container site-section">
            <h1>Why We Started </h1>
            <p>Schoolrunner's mission is to become the student data system of choice by providing schools with a single platform that meets all their data needs with exceptional customer service to make sure it actually solves&nbsp;problems. </p>
        </div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>