
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}EduFiciency{% endblock %}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/styles.css">
    
</head>
<body>
    <nav class="navbar navbar-default">
    <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" style="color: rgb(218, 77, 87); font-size: 30px" href="/">EduFiciency</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Products <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/romeo">Romeo</a></li>
          <li><a href="/gradebook">Gradebook</a></li>
          <li><a href="/">Our Other Product</a></li>
        </ul>
      <li><a href="/about_us"><span class=""></span> About Us</a></li> 
      <li><a href="/blog"><span class=""></span> Blog</a></li>
      <li><a href="/contact"><span class=""></span> Contact</a></li>
    </ul>
  </div>
  </nav>
  {% block content %}CONTENT GOES HERE{% endblock %}
</body>
</html>