<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Romeo</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.7/lumen/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,400italic">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/user.css">
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header"><a class="navbar-brand navbar-link" href="/">EduFiciency </a>
                <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
            </div>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active" role="presentation"><a href="/products" target="_blank">Products </a></li>
                    <li role="presentation"><a href="/about_us" target="_blank">About Us</a></li>
                    <li role="presentation"><a href="/blog" target="_blank">Blog </a></li>
                    <li role="presentation"><a href="/contact" target="_blank">Contact </a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="jumbotron hero">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-md-offset-3 col-md-pull-3 get-it">
                    <h1>O Romeo, Romeo, wherefore art thou Romeo?</h1>
                    <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p><a class="btn btn-primary btn-lg" role="button" href="/contact" target="_blank">Sign Up for a demo</a>
                    <p></p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="romeo-sections">
        <div class="container">
            <h2 class="text-center">This is a sentence.</h2></div>
    </div>
    <div class="romeo-sections">
        <div class="container" id="values">
            <div class="row">
                <div class="col-md-4 value"><i class="glyphicon glyphicon-star value-icon"></i>
                    <h3 class="text-center">Value1 </h3>
                    <p class="text-justify">words words words words&nbsp;words words&nbsp;words words&nbsp;words words&nbsp;words words&nbsp;words words&nbsp;words words&nbsp;words words&nbsp;words words&nbsp;words words&nbsp;words words&nbsp;words words&nbsp;</p>
                </div>
                <div class="col-md-4 value"><i class="glyphicon glyphicon-star value-icon"></i>
                    <h3 class="text-center">Value2 </h3>
                    <p class="text-justify">words words&nbsp;words words&nbsp;words words&nbsp;words words&nbsp;words words&nbsp;words words&nbsp;words words&nbsp;words words&nbsp;words words&nbsp;words wordswords words&nbsp;words words&nbsp;words words&nbsp;&nbsp; </p>
                </div>
                <div class="col-md-4 value"><i class="glyphicon glyphicon-star value-icon"></i>
                    <h3 class="text-center">Value3 </h3>
                    <p class="text-justify">words words&nbsp;words words&nbsp;words words&nbsp;words words&nbsp;words words&nbsp;words words&nbsp;words words&nbsp;words words&nbsp;words words&nbsp;words words&nbsp;words words&nbsp;words words&nbsp;words words&nbsp; </p>
                </div>
            </div>
        </div>
    </div>
    <div class="grey-background romeo-sections">
        <div class="container">
            <div class="row">
                <div class="col-md-6 teacher-school-col">
                    <h3 class="text-center">Teachers </h3><i class="glyphicon glyphicon-pencil teacher-school-icons"></i>
                    <p class="text-justify">words words&nbsp;words words&nbsp;words words&nbsp;words words&nbsp;words words&nbsp;words words&nbsp;words words&nbsp;words words&nbsp;words words&nbsp;words words&nbsp;words words&nbsp;words words&nbsp;words words&nbsp;words words&nbsp;words
                        words&nbsp;words words&nbsp; </p>
                </div>
                <div class="col-md-6 teacher-school-col">
                    <h3 class="text-center">Schools </h3><i class="glyphicon glyphicon-pencil teacher-school-icons"></i>
                    <p class="text-justify">words words&nbsp;words words&nbsp;words words&nbsp;words words&nbsp;words words&nbsp;words words&nbsp;words words&nbsp;words words&nbsp;words words&nbsp;words words&nbsp;words words&nbsp;words words&nbsp;words words&nbsp;words words&nbsp;words
                        words&nbsp;words words&nbsp; </p>
                </div>
            </div>
        </div>
    </div>
    <div class="romeo-sections">
        <div class="container">
            <div class="row">
                <div class="col-md-4 demo-content">
                    <h1>Heading</h1>
                    <p>words words&nbsp;words words&nbsp;words words&nbsp;words words&nbsp;words words&nbsp;words words&nbsp;words words&nbsp;words words&nbsp;words words&nbsp;words words&nbsp;words words&nbsp;words words&nbsp;words words&nbsp;words words&nbsp;words
                        words&nbsp;words words&nbsp; </p>
                </div>
                <div class="col-md-7 demo-pic-col"><img src="/static/iphone_pic3.png" id="demo-pic-1" class="demo-pic"></div>
            </div>
        </div>
    </div>
    <div class="romeo-sections grey-background">
        <div class="container">
            <div class="row">
                <div class="col-md-4 demo-content">
                    <h1>Heading</h1>
                    <p>words words&nbsp;words words&nbsp;words words&nbsp;words words&nbsp;words words&nbsp;words words&nbsp;words words&nbsp;words words&nbsp;words words&nbsp;words words&nbsp;words words&nbsp;words words&nbsp;words words&nbsp;words words&nbsp;words
                        words&nbsp;words words&nbsp; </p>
                </div>
                <div class="col-md-7 demo-pic-col"><img src="/static/iphone.svg" class="demo-pic"></div>
            </div>
        </div>
    </div>
    <div class="romeo-sections">
        <div class="container">
            <div class="row">
                <div class="col-md-4 demo-content">
                    <h1>Heading</h1>
                    <p>words words&nbsp;words words&nbsp;words words&nbsp;words words&nbsp;words words&nbsp;words words&nbsp;words words&nbsp;words words&nbsp;words words&nbsp;words words&nbsp;words words&nbsp;words words&nbsp;words words&nbsp;words words&nbsp;words
                        words&nbsp;words words&nbsp; </p>
                </div>
                <div class="col-md-7 demo-pic-col"><img src="/static/iphone.svg" class="demo-pic"></div>
            </div>
        </div>
    </div>
    <section class="testimonials"></section>
    <footer class="site-footer grey-background">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <h5 id="footer-logo"><a href="/">EduFiciency </a> </h5></div>
                <div class="col-md-4 col-sm-6 social-icons"><a href="https://www.facebook.com/Eduficiency-137378556792264/?ref=bookmarks" target="_blank"><i class="fa fa-facebook"></i></a><a href="https://twitter.com/EduFiciency" target="_blank"><i class="fa fa-twitter"></i></a></div>
                <div class="col-md-4">
                    <p>Questions? Comments? Want to be a beta-tester?</p>
                    <button class="btn btn-primary" type="button">Contact us</button>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>