<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Romeo Page</title>
    <link rel="stylesheet" href="static/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cookie">
    <link rel="stylesheet" href="static/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="static/assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="static/assets/css/iphone_demo.css">
    <link rel="stylesheet" href="static/assets/css/Pretty-Footer.css">
    <link rel="stylesheet" href="static/assets/css/styles.css">
    <link rel="stylesheet" href="static/assets/css/Team-Boxed-1.css">
    <link rel="stylesheet" href="static/assets/css/Team-Boxed.css">
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header"><a class="navbar-brand navbar-link" href="/"><strong>EDUFICIENCY</strong> </a>
                <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
            </div>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active" role="presentation"><a href="romeo">Products</a></li>
                    <li role="presentation"><a href="about_us">About Us</a></li>
                    <li role="presentation"><a href="blog">Blog </a></li>
                    <li role="presentation"><a href="contact">Contact </a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div id="romeo" style="background-image:url(&quot;/static/assets/img/female-2067462_1280.jpg&quot;);">
        <div class="jumbotron">
            <h1>Romeo, Romeo, wherefore art thou Romeo? </h1>
            <h2>Introducing Romeo<br>The painless attendance tracker</h2>
        </div>
    </div>
    <div class="container site-section" id="values">
        <h1>Why use Romeo?. </h1>
        <div class="row">
            <div class="col-md-4 item-value"><i class="glyphicon glyphicon-hourglass icons"></i>
                <h2>Fewer teacher distractions </h2>
                <p>Teachers can easily operate Romeo during class without diverting their attention from their students. </p>
            </div>
            <div class="col-md-4 item-value"><i class="glyphicon glyphicon-list-alt icons"></i>
                <h2>Improved attendance data quality </h2>
                <p>We know teachers are human and sometimes make mistakes when recording attendance data. Romeo catches these mistakes and makes it painless to correct them.. </p>
            </div>
            <div class="col-md-4 item-value"><i class="glyphicon glyphicon-check icons"></i>
                <h2>Fewer front office headaches </h2>
                <p>Romeo challenges outdated software by managing the attendance tracking process without significant involvement from front office staff and administrators. </p>
            </div>
        </div>
    </div>
    <div class="container site-section" id="uses">
        <h1>We are Looking for Beta Testers!</h1>
        <div class="row">
            <div class="col-md-6 item-value">
                <h2>Teachers</h2><i class="icon ion-android-attach icons"></i>
                <p class="testers-para">We are looking for teachers who are interested in giving us feedback about Romeo starting in May of 2017.&nbsp; </p>
                <button class="btn btn-primary btn-lg" type="button" id="tracker-btn2">Contact Us</button>
            </div>
            <div class="col-md-6 item-value">
                <h2 id="testers-h2">Schools </h2><i class="icon ion-scissors icons" id="icon-testers"></i>
                <p class="testers-para">We plan to fully integrate Romeo with the student information systems used by a majority of schools. Contact us if you are interested in beta testing the compatibility of Romeo with your existing SIS in the fall of 2017. </p>
                <button class="btn btn-primary btn-lg"
                type="button" id="tracker-btn">Contact Us</button>
            </div>
        </div>
    </div>
    <div class="container site-section" id="demo1">
        <h1>How It Works</h1>
        <div class="row phone-row">
            <div class="col-md-6 item-value" id="app-view1">
                <h2 class="phone-tool">Teacher-Friendly Web Tool With Voice and Image Recognition </h2>
                <p>Open the attendance submission page for any of your classes with a single click from your computer or mobile device. Record attendance data by quickly tapping student name bars, speaking into a mobile device, or capturing an image of hand-written
                    marks on a seating chart. </p>
            </div>
            <div class="col-md-6 demo-pic-col"><img src="static/assets/img/iphone_pic.png" id="demo-pic-1" class="demo-pic"></div>
        </div>
    </div>
    <div class="container site-section" id="demo2">
        <div class="row">
            <div class="col-md-6 item-value" id="app-view2">
                <h2 class="phone-tool">Reminders and Alerts</h2>
                <p>Reminders prompt you to submit your attendance on time, and alerts help you catch and resolve errors before the end of the school day. </p>
            </div>
            <div class="col-md-6 demo-pic-col"><img src="static/assets/img/iphone3.png" id="demo-pic-3" class="demo-pic"></div>
        </div>
    </div>
    <div class="container site-section" id="uses">
        <div class="row" id="phone-views">
            <div class="col-md-6 item-value" id="app-view3">
                <h1 class="phone-tool">Multiple Customization Options </h1>
                <p>Change the way student names are configured with a few easy clicks. Set your reminders and notifications to arrive at the most convenient times. </p>
            </div>
            <div class="col-md-6 demo-pic-col"><img src="static/assets/img/iphone2.png" id="demo-pic-2" class="demo-pic"></div>
        </div>
    </div>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6 footer-navigation">
                    <h3><a href="/">EDUFICIENCY</a></h3>
                    <p class="links"><a href="romeo">Product </a><strong> · </strong><a href="blog">Blog</a><strong> · </strong><a href="about_us">About</a><strong> · </strong><a href="contact">Contact</a></p>
                    <p class="company-name">Eduficiency © 2017 </p>
                </div>
                <div class="col-md-4 col-sm-6 footer-contacts">
                    <div><span class="fa fa-map-marker footer-contacts-icon"> </span>
                        <p> Alameda, CA</p>
                    </div>
                    <div><i class="fa fa-envelope footer-contacts-icon"></i>
                        <p> <a href="#" target="_blank">mariamendiburo@gmail.com</a></p>
                    </div>
                    <!-- <div class="social-links social-icons"><a href="https://www.facebook.com"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a></div> -->
                </div>
                <div class="clearfix visible-sm-block"></div>
                <div class="col-md-4 footer-about">
                    <div class="col-md-4" id="contact-con">
                         <button class="btn btn-primary btn-lg" type="button" id="contact-btn">Contact Us</button>
                     </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="static/assets/js/jquery.min.js"></script>
    <script src="static/assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>
